<div class="examples">
    <h2>
        About
    </h2>
    <div>
        Angular By Example is a site that showcases issues and solutions found
        during Angular development.
    </div>
    <br />
    <h4>
        How do I use it?
    </h4>
    <div>
        Go to the examples section and find examples of issues you want to know
        more about. See the specific examples for info on ways to tackle that
        specific issue. You will see examples on screen. Also there is a
        <a
            href="https://github.com/chriscamac/angular-by-example"
            target="_blank"
            >repo</a
        >
        of this site available on github so that you can see the code used to
        generate this site, which provides a behind the scenes look at the
        examples in action.
    </div>
    <br />
    <h4>
        Contributing
    </h4>
    <div>
        <p>
            Go to the
            <a
                href="https://github.com/chriscamac/angular-by-example/issues"
                target="_blank"
                >issues</a
            >
            section of the repo and see ways that you can contribute to this
            project.
        </p>
        <p>
            Also, you can contribute by adding issues for examples you would
            like to see added to the site.
        </p>
    </div>
</div>
