<div class="examples">
    <h2>
        Global Injector
    </h2>
    <br />
    <div class="card bg-light">
        <div class="card-body">
            {{ description }}
            <br />
            {{ currentTimeFormatted }}
        </div>
    </div>
    <br />
    <h4><em>example</em></h4>
    <pre>
        <code [highlight]="classCode"></code>
    </pre>
    <h4><em>solution</em></h4>
    <h5>setup the global injector with these two files</h5>
    <pre>
        <code [highlight]="globalInjector"></code>
    </pre>
    <pre>
        <code [highlight]="appModule"></code>
    </pre>

    <h5>then use it like this</h5>
    <pre>
        <code [highlight]="classCodeWithInjector"></code>
    </pre>
</div>
