<nav class="navbar navbar-dark bg-dark mb-5">
    <a class="navbar-brand" href="/">Angular by Example</a>
    <div class="navbar-expand mr-auto">
        <div class="navbar-nav">
            <a
                class="nav-item nav-link"
                href="#"
                routerLink="/home"
                routerLinkActive="active"
                >Home</a
            >
            <a
                class="nav-item nav-link"
                href="#"
                routerLink="/examples"
                routerLinkActive="active"
                >Examples</a
            >
            <a
                class="nav-item nav-link"
                href="#"
                routerLink="/about"
                routerLinkActive="active"
                >About</a
            >
        </div>
    </div>
    <div class="navbar-expand ml-auto navbar-nav">
        <div class="navbar-nav">
            <a
                class="nav-item nav-link"
                href="https://github.com/chriscamac"
                target="_blank"
            >
                <i class="fa fa-github"></i>
            </a>
            <a
                class="nav-item nav-link"
                href="https://twitter.com/PilgrimSecret"
                target="_blank"
            >
                <i class="fa fa-twitter"></i>
            </a>
        </div>
    </div>
</nav>
