<div class="examples">
    <h2>
        Examples
    </h2>
    <div class="row">
        <div class="card bg-light col-md-4">
            <div class="card-body">
                <h5 class="card-title">Data from API</h5>
                <p class="card-text">
                    Get data from an API including how to make multiple calls
                    and combine them into one object.
                </p>
                <a href="#" class="btn btn-primary" routerLink="data-from-api"
                    >Go</a
                >
            </div>
        </div>
    </div>
</div>
