<div class="container">
    <div class="jumbotron">
        <h2>Welcome to Angular by Example!</h2>
        <p>
            This app exists only to show examples of common issues and questions
            that are seen in forums and communities such as StackOverflow. If
            you would like to see an example of something not already covered,
            please submit an issue for it.
        </p>
        <button class="btn btn-primary" routerLink="/examples">
            Show me the examples
        </button>
    </div>
</div>
